components-common-footer {
}

    .tabbar{
        opacity:1;
        background:#2c1e2f !important;
        color:#FFF;
        ion-icon{
            color:#FFF;

        }
    }
    .tabs-md .tab-button-icon{
        color:#FFF;
    }   
    
    .tabs-md .tab-button-icon.active{
        color:#f8b028;
    }   
    