<ion-grid>
    <ion-row class="footerBar">
      <ion-col col-3 no-padding (click)="onClickNavigation('MainProductPage')">       <ion-icon class="icon icon-md ion-md-home tab-menu" name="cart" role="img"></ion-icon></ion-col>     
      <ion-col col-3 no-padding (click)="onClickNavigation('CartDetailsPage')">       <ion-icon class="icon icon-md ion-md-cart tab-menu" name="cart" role="img"></ion-icon></ion-col>     
      <ion-col col-3 no-padding  (click)="onClickNavigation('PagesSearchPage')">         <ion-icon class="icon icon-md ion-md-search tab-menu" name="cart" role="img"></ion-icon>  </ion-col>     
      <ion-col col-3 no-padding (click)="onClickNavigation('PagesSettingsPage')" >          <ion-icon class="icon icon-md ion-md-settings tab-menu" name="cart" role="img"></ion-icon>  </ion-col>     
    </ion-row>
  </ion-grid>