<!---Settings Main Header-->
<ion-split-pane when="md">
  <!-- Menu Main Top -->
  <ion-menu menu [content]="content" *ngIf="params != null">
    <!-- Menu Main List -->
    <ion-content transparent [ngInit]="getProfileData()">
      <ion-item text-center padding transparent no-lines>
        <ion-avatar>
          <img src="assets/images/noimage.png" id="profileImage" class="avatar" />
        </ion-avatar>
        <h3 margin-top ion-text text-wrap>{{profileName}}</h3>
      </ion-item>
      <ion-list no-margin>
        <button transparent menuClose ion-item item-title no-lines item-divider *ngFor="let p of pages"
          (click)="openPage(p)">
          <ion-icon icon-small item-left>
            <ion-icon name="{{p.icon}}"></ion-icon>
          </ion-icon>
          {{p.title}}
        </button>
      </ion-list>
    </ion-content>
  </ion-menu>
  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" #content main swipeBackEnabled="false" main></ion-nav>
</ion-split-pane>
