
// Noto Sans Regular
@font-face {
    font-family: Noto Sans;
    src: url(../assets/fonts/Noto-sans/NotoSans-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

// Noto Sans Bold
@font-face {
    font-family: Noto Sans;
    src: url(../assets/fonts/Noto-sans/NotoSans-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

// Leckerli One Regular
@font-face {
    font-family: Leckerli One;
    src: url(../assets/fonts/Leckerli/LeckerliOne-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}
