page-main-product { 

    
}

.menuIcon , .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
    color:#2c1e2f;
    font-weight:bold;
    font-size:2em;

}
.bar-button-menutoggle-md ion-icon{
    
    font-size:1.2em;
}
.toolbar-title-md{
    font-weight:bold;
    font-size:2em;
    text-align: center;
}

.tabbar{
    opacity:1;
    background:#2c1e2f !important;
    color:#FFF;
  
}

.tabs-md .tab-button-icon{
    
    color:#FFF;
}