<!--Theme Google Card - Reviev cards-->
<ion-content>
  <ion-grid no-padding>
    <ion-row *ngIf="data != null">
      <ion-col col-12 col-lg-6 col-xl-4 *ngFor="let item of data.items;let i = index">
        <!-- Card -->
        <ion-card padding (click)="onEvent('onItemClick', item, $event)">
          <img [src]="item.image" />
           <ion-card-header>
             <span>{{item.time}}</span>
             <h2 card-title>{{item.title}}</h2>
             <p card-subtitle text-wrap>{{item.description}}</p>
           </ion-card-header>
          <ion-card-content no-padding>
            <ion-row no-padding>
              <ion-col col-auto no-padding *ngIf="item.like != null">
                <button ion-button button-icon-clear icon-start text-capitalize clear small (click)="onEvent('onLike', item, $event)">
                  <ion-icon [ngClass]="{'active' : item.like.isActive}" [name]="item.like.icon"></ion-icon>
                  {{item.like.number}} {{item.like.text}}
                </button>
              </ion-col>
              <ion-col col-auto no-padding *ngIf="item.comment != null">
                <button ion-button button-icon-clear icon-start text-capitalize clear small (click)="onEvent('onComment', item, $event)">
                <ion-icon  [ngClass]="{'active' : item.comment.isActive}" [name]="item.comment.icon"></ion-icon>
                {{item.comment.number}} {{item.comment.text}}
              </button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
