<!--Profile- Profile With Slider + Comments-->
<ion-content>
  <ion-grid *ngIf="data != null">
    <ion-row>
      <ion-col col-12 align-self-start>
        <ion-card profile padding text-center box-shadow>
          <ion-avatar>
            <img [src]="data.image" alt="">
          </ion-avatar>
          <ion-card-content text-center>
            <h1 ion-text color="secondary">{{data.title}}</h1>
            <p ion-text color="secondary">{{data.subtitle}}</p>
          </ion-card-content>
          <ion-row no-padding>
            <ion-col>
              <button ion-button button-clear clear no-padding>
                <span small-font font-bold ion-text color="secondary">{{data.valueFollowers}}</span>
                <span text-capitalize ion-text color="secondary">{{data.followers}}</span>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button button-clear clear no-padding>
                <span small-font font-bold ion-text color="secondary">{{data.valueFollowing}}</span>
                <span text-capitalize ion-text color="secondary">{{data.following}}</span>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button button-clear clear no-padding>
                <span small-font font-bold ion-text color="secondary">{{data.valueRecipes}}</span>
                <span text-capitalize ion-text color="secondary">{{data.recipes}}</span>
              </button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <!-- Slider-->
      <ion-col col-12 align-self-start text-center>
        <span font-bold ion-text text-uppercase margin-top color="accent">{{data.category}}</span>
        <ion-slides pager="true">
          <ion-slide text-center no-padding *ngFor="let item of data.items;let i = index" (click)="onEvent('onItemClick', item, $event)">
            <ion-card padding-bottom box-shadow>
              <ion-card-content>
                  <span font-bold ion-text text-uppercase color="primary">{{item.category}}</span>
                  <h1 card-title margin-top text-wrap>{{item.title}}</h1>
              </ion-card-content>
              <button ion-button button-icon-clear text-capitalize icon-start clear (click)="onEvent('onLike', item, $event)">
                <ion-icon [ngClass]="{'active' : item.like.isActive}" [name]="item.like.icon"></ion-icon>
                {{item.like.text}}
              </button>
              <button ion-button button-icon-clear text-capitalize icon-start clear (click)="onEvent('onComment', item, $event)">
                <ion-icon [ngClass]="{'active' : item.comment.isActive}" [name]="item.comment.icon"></ion-icon>
                {{item.comment.number}} {{item.comment.text}}
              </button>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
