/*  #Style Login + logo 2
================================================*/

.login-layout-2 {
  [background-size] {
    position: relative;
    background-position: center !important;
  }

  .scroll-content {
    padding-bottom: 0 !important;

    ion-grid {
      height: 100%;

      ion-row {
        height: 100%;
ion-col{
        ion-item {
          img.logoImg {
           max-height: 5em;
           
          }
}
        }
           ion-label.titleTxt{
            color:#FFF;
            font-weight: bold;
            font-size:2.5em;
          }


        // Settings Form
        form {

          ion-item.btmline {
            border-bottom: 2px solid #CCC;
            width: 90%;
            margin: 0 auto;

            ion-icon {
              color: #F2B226;
              font-size: 1.5em;
              margin-bottom: 1em;
            }
          }

          ion-item {
            padding-left: 0 !important;

            [error-field] {
              margin: 0 !important;
              position: absolute !important;
              bottom: 0 !important;
              right: 5px !important;
              font-size: $h6-font-size;
              color: theme-colors('textColors', 'secondary') !important;
            }

            .item-inner {
              border-bottom: none !important;
              box-shadow: none !important;
              padding-right: 0 !important;
            }

            ion-label {
              margin: 0 5px !important;
            }

            ion-input {
              background: transparent !important;
              margin: 5px 10px 15px 0px !important;
              /*
              border-radius: $border-radius;
              box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1) !important;
              */
              padding: 5px 10px !important;
              z-index: 999;

              .input-cover {
                display: none;
              }

              input[type="text"] {
                color: #FFF !important;
                background: transparent !important;
                font-size: 1.2em;
              }

              input[type="password"] {
                color: #FFF !important;
                background: transparent !important;
                font-size: 1.2em;
              }

              ::-webkit-input-placeholder {
                color: #F2B226 !important;
                font-weight: 400 !important;
              }

              ::-moz-placeholder {
                color: #F2B226 !important;
                font-weight: 400 !important;
              }

              :-ms-input-placeholder {
                color: #F2B226 !important;
                font-weight: 400 !important;
              }

              :-moz-placeholder {
                color: #F2B226 !important;
                font-weight: 400 !important;
              }
            } 
          }

          [stacked] {
            font-size: $h6-font-size !important;
            color: theme-colors('textColors', 'secondary') !important;
          }

          [login-section] {
            margin-bottom: 10px;
            margin-top: 3em;
            display: flex;

            [default-button] {
              width: calc(100% - 5px) ;
              max-width:20em;
              margin:0 auto;
              border-radius:50px !important;

              background: theme-colors('mainColors', 'accent') !important;
              color: theme-colors('textColors', 'accent') !important;
              font-size: $h5-font-size !important;
              text-transform: capitalize !important;
              font-weight: bold !important;
              padding: 1.5em !important; 
            }

            [facebookButton] {
              background: theme-colors('mainColors', 'secondary') !important;
              color: theme-colors('textColors', 'primary') !important;
              border-color: transparent !important;
              margin-right: 10px !important;
            }
          }

          [share-section] {
            position: relative;
            display: inline-block;
            padding-top: 40px;
            width: 100%;

            &::after {
              content: "or try";
              font-size: $h6-font-size;
              color: theme-colors('textColors', 'secondary');
              width: 140px;
              border-bottom: 1px solid theme-colors('mainColors', 'secondary');
              position: absolute;
              top: 10px;
              left: calc(50% - 70px);
            }
          }
        }
      }
    }
  }
}
 