/*  #Style Login + logo 2
================================================*/
login-layout-2 {
  [background-size] {
    position: relative;
    background-position: center !important;
  }

  .scroll-content {
    padding-bottom: 0 !important;

    ion-grid {
      height: 100%;

      ion-row {
        height: 100%;
        // Settings Form
        form {
          ion-item {
            padding-left: 0 !important;
            padding-bottom: 15px !important;

            [error-field] {
              margin: 0 !important;
              position: absolute !important;
              bottom: 0 !important;
              right: 5px !important;
              font-size: $h6-font-size;
              color: theme-colors('textColors', 'secondary') !important;
            }

            .item-inner {
              border-bottom: none !important;
              box-shadow: none !important;
              padding-right: 0 !important;
            }

            ion-label {
              margin: 0 5px !important;
            }

            ion-input {
              background: theme-colors('mainColors', 'secondary') !important;
              margin: 5px 10px 15px 10px !important;
              border-radius: $border-radius;
              box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1) !important;
              padding: 5px 10px !important;
              z-index: 999;

              .input-cover {
                display: none;
              }
            }
          }

          [stacked] {
            font-size: $h6-font-size !important;
            color: theme-colors('textColors', 'secondary') !important;
          }

          [login-section] {
            margin-bottom: 10px;
            margin-top: 0px;
            display: flex;

            [default-button] {
              width: calc(100% - 5px)!important;
            }

            [facebookButton] {
              background: theme-colors('mainColors', 'secondary') !important;
              color: theme-colors('textColors', 'primary') !important;
              border-color: transparent !important;
              margin-right: 10px !important;
            }
          }

          [share-section] {
            position: relative;
            display: inline-block;
            padding-top: 40px;
            width: 100%;

            &::after {
              content: "or try";
              font-size: $h6-font-size;
              color: theme-colors('textColors', 'secondary');
              width: 140px;
              border-bottom: 1px solid theme-colors('mainColors', 'secondary');
              position: absolute;
              top: 10px;
              left: calc(50% - 70px);
            }
          }
        }
      }
    }
  }
}
.logoImg{
  width:100%;
  max-height:5em;
}