<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Orders</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="productsList.length>0">
      <expandable-layout-1 [data]="productsList" [events]="params.events"></expandable-layout-1>
    </div>
  
    <div *ngIf="!productsList">
        <ion-list>
            <ion-item>
              <ion-label>No Orders</ion-label>
            </ion-item>
            </ion-list>
          </div>  
</ion-content> 
<ion-footer >
    <ion-toolbar>
    <common-footer></common-footer>
    </ion-toolbar>
  </ion-footer>
     
 