page-login {

    ion-content {
        background-image: url('../assets/back_image.jpg');
        background-size: cover;
    }

.toolbar-background-md {
    background-image: url('../assets/back_image.jpg');
}
[ion-title] {
    color: #FFF;
    font-size: 5em;
    width: 100%;
    font-weight: bold;
    text-align: center;
}
ion-title {
    
    color: #FFF !important;
}


.toolbar-title-md {
    padding: 0 12px;
    font-size: 1rem;
    font-weight: bold;
    color: #FFF !important;
  }


}

ion-toolbar {
    text-align: center;
    font-weight: bold;
}


[header-title] {
    text-align: center;
}


