page-pages-settings {

  .profileDetails{
    border-bottom:1px solid #CCC;
  }
  .menuList{
    border-bottom:1px solid rgb(243, 243, 243);

  }
  
.logoutButton{
  
  background:#f2b226 !important;
  color:#2c1e2f;
  border-radius:50px;
  font-weight:bold;
  padding:1em 2em;
}

.hrefLink{
  text-decoration: none !important;
  color:#000;
}
.list-md .item-block .item-inner{
  border:none !important;
  border-bottom:none !important;
}
}
