page-product-details {
  .infoIcon{
    float:right;
    width:5em;
  }
 
/*  #Style Expandable - Filters Products
===========================================*/
  li {
    list-style-type: none;
  }
  // Settings Expandable Filters Products - Body
  .item-accordion {

    ion-item {
      [round] {
        text-align: center;
        background: theme-colors('mainColors', 'secondary');
        line-height: 40px;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        border: 1px solid #EAEAEA;
        display: block;
        margin: 0 10px;
        font-weight: bold;

        .icon:before {
          font-weight: bold;
        }
      }

      ion-label {
        display: flex;
        flex-direction: row !important;
        justify-content: center !important;
        background-color: transition;

        [round]:nth-child(2) {
          background: theme-colors('mainColors', 'accent') !important;
          color: theme-colors('textColors', 'secondary');
        }
      }
    }
  }

  .toolbar-background {
    background-color: theme-colors('mainColors', 'secondary');
  }
  .footer-md::before {
    background-image: none;
  }
.prdDetail{
  font-weight:bold;
  font-size:1.5em;
  color:#2c1e2f;
}
.otherDescr{
  font-weight:bold;
  font-size:1.2em;
  color:#2c1e2f;
  .titleDescr{
    color:#999;
    font-size:1.1em;
  }
  .titleDetl{
    font-size:1.1em;
    color:#2c1e2f;

  }
}
.cartChange{
  background-color: #2c1e2f;
}
 


.deletebutton{
  
  background:#2c1e2f !important;
  color:#FFF;
  border-radius:50px;
  font-weight:bold;
  padding:1em 2em;
}






.updatebutton{
  
  background:#f2b226 !important;
  color:#2c1e2f;
  border-radius:50px;
  font-weight:bold;
  padding:1em 2em;
}







}
