<!-- Themes Swipe To Dismiss - Full width image -->
<ion-content>
  <ion-grid no-padding *ngIf="data != null">
    <ion-row>
      <ion-col col-12 align-self-end>
        <ion-list padding no-margin>
          <ion-item-sliding box-shadow margin-bottom *ngFor="let item of data.items" #slidingItem>
            <ion-item no-lines background-size (click)="onEvent('onItemClick', item.title, $event)"
            [ngStyle]="{'background-image': 'url(' + item.image + ')'}">
            <div title-block>
              <!-- Subtitle -->
              <p ion-text color="secondary">{{item.subtitle}}</p>
              <!-- Title -->
              <h1 card-title text-wrap>{{item.title}}</h1>
            </div>
            </ion-item>
            <!---Action Button-->
            <ion-item-options>
              <button ion-button text-capitalize transparent (click)="delete(item)">
              {{item.delate}}
            </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
