/*  #Style Sticky List Header - Post
================================================*/
sticky-list-header-layout-3 {
  [ion-affix] {
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
    color: red;
    border-top: none !important;
    position: relative;
    margin: 0;

    .label-ios,
    .label-md {
      margin: 0;
    }
  }

  [header-title] {
    color: theme-colors('textColors', 'accent');
    font-weight: bold !important;
  }

  [card-title] {
    @include font-title;
  }


  ion-card {
    width: 100% !important;
    box-shadow: none !important;

    [button-action-shit] {
      color: theme-colors('textColors', 'accent') !important;
    }
    ion-avatar {
      min-width: 48px !important;
      min-height: 48px !important;
      z-index: 1 !important;
      filter: none !important;

      img {
        width: 48px !important;
        height: 48px !important;
      }
    }

    ion-card-content {
      padding-top: 28px !important;
    }
  }
}
